################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TestRestAsync/.vs/TestRestAsync/v15/Server/sqlite3
